# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ouput of anki
output-deck/

# Virtual environment
venv/
env/

# IDE
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Dependency directories
lib/
lib64/